#error {
    margin-top: 20px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}


h2 {
    top: 60px;
    font-size: 32px;
    color: #333;
}

form {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 450px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register {
    display: flex;
    justify-content:center;
    align-items: center;
}

#text {
    padding-top: 2vh;
    padding-right: 2vw;
}

